.nav-item a{
    font-weight: bolder;
    font-size: 18px;
}
.navbar{
    margin-bottom: 50px;
}
.dropdown-menu{
    background-color: wheat;
}
.carousel-item img{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card-product{
    width:100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.card-img-top{
    padding-left: 4rem;
}
.card-body{
    text-align: center;
}