h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: brown;
    box-shadow: wheat 1px 1px 1px;
    text-align: center;
}
.nav-item a{
    font-weight: bolder;
    font-size: 18px;
}
.navbar{
    margin-bottom: 50px;
}
.dropdown-menu{
    background-color: #cfd1d0;
}
.carousel-item img{
    width: 25%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.card-product{
    width:100%;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.card-img-top{
    padding-left: 4rem;
}
.card-body{
    text-align: center;
}