.pb-100 {
    padding-bottom: 50px;
  }
  .pt-100 {
    padding-top: 50px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  a {
    text-decoration: none;
    color: #333;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .section-title {
    position: relative;
  }
  .section-title p {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 400;
  }
  .section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
  }
  .section-title h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
  }
  .section-title h4::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #FF7200;
    left: 0;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
  }
  .contact {
    background-color: cadetblue;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
  }
  .contact-form input,
  textarea {
    width: 100%;
    border: 1px solid #555;
    padding: 5px 10px;
    text-transform: capitalize;
    margin-top: 10px;
    background-color: transparent;
    color: #fff;
  }
  .contact:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .85;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
  }
  .single-contact {
    text-align: left;
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .single-contact i.fa {
    position: absolute;
    left: 0;
    top: 50%;
   
    background-color: #FF7200;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
  }
  .single-contact h5 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .single-contact p {
    font-size: 15px;
    font-weight: 400;
  }
  .contact-form input[type="submit"] {
    background-color: #FF7200;
    border: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s
  }
  .contact-form input[type="submit"]:hover {
    background-color: #CC5B00
  }
  .contact-form input:focus, textarea:focus {
    border-color: #CC5B00
  }
  div.stars {
    width: 270px;
    display: inline-block;
  }
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
  }
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  input.star-1:checked ~ label.star:before { color: #F62; } 
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }