
.photo img{
    z-index: 100;
    display: block;
    margin: auto;
}
.col-item{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    background: rgb(238, 236, 236);
}
.col-item  .photo img{
    margin:auto;
    width: 10rem;
    height:  10rem;
    padding: initial;
}
.col.item .info{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}
.col-item:hover .info { 
    background-color: white;
    }
    .col-item .price {      
    float: left;    
    margin-top: 5px;
    }
    .col-item .price h5 {   
    line-height: 20px;  
    margin: 0;
    }
    .price-text-color{ 
    color: blue;
    }
    .col-item .info .rating {   
    color: wheat;
    }
    .col-item .rating {     
    float: left;    
    font-size: 17px;    
     text-align: right;
    line-height: 52px;  
    margin-bottom: 10px;    
    height: 52px;
    }
    .col-item .separator {  
    border-top: 1px solid white;
    }
    .clear-left {   
    clear: left;
    }
    .col-item .separator p {    
    line-height: 20px;  
    margin-bottom: 0;   
    margin-top: 10px;   
    text-align: center;
    }
    .col-item .separator p i {  
    margin-right: 5px;
    }
    .col-item .btn-add {    
    width: 100%; 
    float: left;
    }
    .col-item .btn-add {    
    border-right: 1px solid white;
    }
    .col-item .btn-details {    
    width: 100%; 
    float: left;    
    padding-left: 10px;
    }
    .controls { 
    margin-top: 20px;
    }
    [data-slide="prev"] {
     margin-right: 10px;
    }
    