* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    line-height: 1.15;
}

#wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.headline {
    text-align: center;
    margin: 40px 0px;
}

h3 {
    font-size: 18px;
    color: brown;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid black;
    display: inline-block;
}

ul.products {
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li {
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

ul.products li img {
    max-width: 100%;
    height: auto;
    width: 300px;
}

ul.products li .product-info {
    padding: 15px 0px;
}

ul.products li .product-info a {
    display: block;
    text-decoration: none;
}

ul.products li .product-info a.product-name {
    color: #334862;
    padding: 3px 0px;
}

ul.products li .product-info .product-price {
    color: red;
    padding: 2px 0px;
}